@charset "UTF-8";
.app-only-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 96px;
  background: #F2F6F6;
}
.app-only-container .icon-img {
  width: 240px;
}

.app-content-container {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.login-container .form-check {
  display: flex;
  align-items: center;
  padding-left: 0;
}
.login-container .form-check label {
  margin-bottom: 0;
  padding-left: 5px;
  font-size: 14px;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 56px;
  padding: 0 20px;
  background-color: #f9e13f;
}
.header-container .header-icon-wrapper {
  display: inline-block;
  padding: 0 24px;
}
.header-container .header-icon {
  height: 46px;
  margin-top: 4px;
}
.header-container .header-list {
  display: flex;
  align-items: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.header-container .list-item:not(:last-child) {
  margin-right: 8px;
}
.header-container .list-item-link {
  display: inline-block;
  height: 56px;
  padding: 0 10px;
  font-size: 14px;
  font-weight: bold;
  line-height: 56px;
}
.header-container .list-item-link:hover {
  color: #666666;
}

/**
* 支出一覧
*/
.spending-top-container .spending-upper-group {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}
.spending-top-container .total-amount-section {
  margin-top: 6px;
  padding-left: 4px;
  line-height: 140%;
  font-weight: bold;
  border-left: 4px solid #f9e13f;
}
.spending-top-container .ranking-section {
  margin-top: 12px;
  line-height: 140%;
}
.spending-top-container .ranking-section-heading {
  padding-left: 4px;
  font-weight: 600;
  border-left: 4px solid #f9e13f;
}
.spending-top-container .ranking-heading {
  font-weight: bold;
}
.spending-top-container .ranking-section-txt:not(:first-child) {
  display: inline-block;
  margin-right: 12px;
}
.spending-top-container .link-register {
  position: absolute;
  top: 0;
  right: 0;
  display: inline-block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 6px 12px;
  font-size: 14px;
  color: #FFF;
  background-color: #0090da;
  border-radius: 3px;
}
.spending-top-container .link-register:hover {
  background-color: #0075b1;
}
.spending-top-container .search-form {
  margin-top: 16px;
}
.spending-top-container .search-form-title {
  font-size: 15px;
  font-weight: 600;
}
.spending-top-container .search-form-title-link {
  display: inline-block;
  margin-left: 24px;
  font-size: 15px;
  font-weight: normal;
  color: #0075b1;
}
.spending-top-container .search-form-title-link:hover {
  text-decoration: underline !important;
}
.spending-top-container .search-form-input-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 5px;
  font-size: 15px;
}
.spending-top-container .search-form-input-list label {
  display: flex;
  align-items: center;
  margin-bottom: 0;
}
.spending-top-container .search-form-input {
  padding: 3px 6px;
  background-color: #E9EEEF;
  border-radius: 4px;
}
.spending-top-container .search-form-input.select {
  min-width: 200px;
}
.spending-top-container .search-form-btn {
  height: 30px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-left: 8px;
  padding: 0 12px;
  font-size: 12px;
}
