// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$black: #333333;
$yellow: #f9e13f;
$orange: #f6a443;
$blue: #0075b1;
$bgColor: #F2F6F6;
$white: #FFF;
$gray: #e9eeefa6;
$red: #F34C88;

// Fonts size
$heading: 22px;
$headingWeight: 500;

$outline: 1px solid rgba(51, 51, 51, 0.125);
