.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 56px;
  padding: 0 20px;
  background-color: #f9e13f;

  .header-icon-wrapper {
    display: inline-block;
    padding: 0 24px;
  }

  .header-icon {
    height: 46px;
    margin-top: 4px;
  }

  .header-list {
    display: flex;
    align-items: center;
    width: fit-content;
  }

  .list-item:not(:last-child) {
    margin-right: 8px;
  }

  .list-item-link {
    display: inline-block;
    height: 56px;
    padding: 0 10px;
    font-size: 14px;
    font-weight: bold;
    line-height: 56px;

    &:hover {
      color: lighten($black, 20%);
      text-decoration-line: none;
    }
  }
}
