@import "./variables";

// common css
.c-form {
  padding: 20px;
  width: calc(100% - 40px);
  max-width: 500px;
  border-radius: 3px;
  background: $white;
  border: $outline;
}
.c-form-heading {
  padding-bottom: 16px;
  font-size: $heading;
  text-align: center;
  font-weight: 600;
  letter-spacing: 0.1em;
  border-bottom: $outline;
}
.c-form-content {
  padding: 48px;
}
.c-form-group {
  margin-bottom: 16px;
}
.c-label {
  margin-bottom: 8px;
  padding-left: 4px;
  border-left: 4px solid #f9e13f;
}
.c-form-input {
  display: block;
  width: 100%;
  height: calc(1.6em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 0.9rem;
  border: $outline;
  border-radius: 3px;
  background: $gray;
}
.c-form-btn-wrapper {
  margin-top: 32px;
}
.c-btn {
  width: 100%;
  padding: 6px 12px;
  text-align: center;
  color: $white;
  background: $orange;
  border-radius: 3px;

  &:hover {
    background: darken($orange, 8%);
  }
}
.c-form-link {
  display: inline-block;
  margin-top: 8px;
  font-size: 14px;
  color: $blue;

  &:hover {
    color: $blue !important;
    text-decoration: underline;
  }
}
.c-prev-and-title-wrapper {
  position: relative;
  text-align: center;
  font-size: $heading;
  font-weight: 500;
}
.c-prev-link {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
}

.c-prev-link-img {
  height: 22px;
  width: 22px;
}

.c-list-content {
  width: calc(100% - 40px);
  max-width: 1000px;
  height: fit-content;
  padding: 40px 80px;
  border-radius: 3px;
  background: $white;
  border: $outline;
}

.c-list-content-title {
  font-size: $heading;
  text-align: center;
  font-weight: $headingWeight;
}

table
{
  width: 100%;
  margin-top: 40px;
  border-collapse: collapse;

  th
  {
    padding: 6px 0;
    text-align: center;

    &:not(:last-child) {
      border-right: dashed 1px $orange;
    }
  }

  td {
    padding: 6px 0;
    border-top: dashed 1px $orange;

    &:first-child {
      padding-left: 12px;
    }
    &:last-child {
      padding-top: 5px;
    }
    &:not(:first-child) {
      text-align: center;
      border-left: dashed 1px $orange;
    }
  }
}

.table-link {
  &.edit {
    color: $blue;
  }
  &.delete {
    color: $red;
  }
  &:hover {
    text-decoration: underline !important;
  }
}


